<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>LTH:s kursväljare</title>
    <link rel="stylesheet" href="lib/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">LTH:s kursväljare</a>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span5">
                <h2>Kurser</h2>
                <h3>Filtrera</h3>
                <h4>Läsperiod: Alla | LP1 | LP2 | LP3 | LP4</h4>
                <h4>Inriktning: Alla | PV | IS | KS | RT</h4>
                <ul id="courseList"><!--TEMPLATE--></ul>
            </div>

            <div class="span5">
                <h2>Kursplan</h2>
                <h3>Detaljer</h3>
                <ul id="timeTableDetails"><!--TEMPLATE--></ul>
                <h3>Valda kurser</h3>
                <ul id="timeTable"><!--TEMPLATE--></ul>
                <h4>Lp 1</h4>
                <h4>Lp 2</h4>
                <h4>Lp 3</h4>
                <h4>Lp 4</h4>
            </div>
            
            
        </div>
    </div>


</body>

<script src="lib/jquery.min.js" type="text/javascript"></script>
<script src="lib/underscore-min.js" type="text/javascript"></script>
<script src="lib/backbone-min.js" type="text/javascript"></script>
<script src="lib/bootstrap.min.js" type="text/javascript"></script>
<script src="lib/backbone.localStorage.js" type="text/javascript"></script>

<!--<script src="lib/require.js" type="text/javascript"></script>-->
<script src="lib/cf.js" type="text/javascript"></script>
<!--<script src="lib/multifilter.js" type="text/javascript"></script>-->

<script src="courses.json" type="text/javascript"></script>

<script src="main.js" type="text/javascript"></script>

<script src="CourseModel.js" type="text/javascript"></script>
<script src="CourseCollection.js" type="text/javascript"></script>

<script src="ChosenCourseItemView.js" type="text/javascript"></script>
<script src="CourseItemView.js" type="text/javascript"></script>
<script src="CourseListView.js" type="text/javascript"></script>
 
<script src="FilterView.js" type="text/javascript"></script>

<script src="ChosenCourseModel.js" type="text/javascript"></script>
<script src="TimeTableCollection.js" type="text/javascript"></script>
<script src="TimeTableView.js" type="text/javascript"></script>
<script src="TimeTableDetailView.js" type="text/javascript"></script>


<script src="ApplicationRouter.js" type="text/javascript"></script>


<!-- TEMPLATE: courseItem -->
<script type="text/template" id="courseItemTemplate">
    <div class="span4" class="courseItem ">
        <div><%= code %>, <%= name %>, <%= credits %> hp</div>
    </div>
</script>

<!-- TEMPLATE: timeTable -->
<script type="text/template" id="timeTableItemTemplate">
    <div class="span4" class="courseItem ">
        <div><%= code %>, <%= name %>, <%= credits %> hp</div>
    </div>
</script>

<!-- TEMPLATE: detailTemplate -->
<script type="text/template" id="detailTemplate">
    <div class="span4" class="details ">
        <div>Valda poäng: <%= totalCredit %> hp</div>
        <div>Avancerade poäng: 0</div>
        <div>Poäng inom specialiseringar: 0</div>
    </div>
</script>


</html>
