<!-- TO DO: 

* Fixa med filtrering
* Fixa så att parsningen av hp klarar av att parsa 7,5 till att istället visa 7.5 (PHP)
* Om kurs är on_hold ska den inte listas. VIKTIGT! 
* Fixa så att man kan ta bort kurser
* Lägga till så att man kan skapa olika år (år4: [lp1,lp2,lp3,lp4], år5: [lp1,lp2,lp3,lp4])
* göra en vacker design ;) 
* skapa en server -> Vi kan då ta bort courses.json och även flytta templates ut ifrån index.html-filen
* Fixa med localStorage så att det funkar igen.

-->
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>LTH:s kursväljare</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">LTH:s kursväljare</a>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span5">
                <h2>Kurser</h2>
                <h3>Filtrera</h3>
                <h4>Läsår: 4 5</h4>
                <h4>Läsperiod: LP1 LP2 LP3 LP4</h4>
                <h4 id="filterDetails"><!--TEMPLATE--></h4>
                <ul id="courseList"><!--TEMPLATE--></ul>
            </div>

            <div class="span5">
                <h2>Kursplan</h2>
                <h3>Detaljer</h3>
                <ul id="timeTableDetails"><!--TEMPLATE--></ul>
                <h3>Valda kurser</h3>
                <h4>Läsperiod 1</h4>
                <ul class="table" id="timeTableSp1"><!--TEMPLATE--></ul>
                <h4>Läsperiod 2</h4>
                <ul class="table" id="timeTableSp2"><!--TEMPLATE--></ul>
                <h4>Läsperiod 3</h4>
                <ul class="table" id="timeTableSp3"><!--TEMPLATE--></ul>
                <h4>Läsperiod 4</h4>
                <ul class="table" id="timeTableSp4"><!--TEMPLATE--></ul>
            </div>
            
            
        </div>
    </div>


</body>

<script src="courses.json" type="text/javascript"></script>
<script src="js/lib/require.js" data-main="js/config.js"></script>


<!-- TEMPLATES -->

<script type="text/template" id="courseItemTemplate">
    <div class="span4" class="courseItem ">
        <div><%= code %>, <%= name %>, <%= credits %> hp</div>
    </div>
</script>

<!--<script type="text/template" id="StudyPeriodViewTemplate">
    <div class="span4" class="courseItem ">
        <div><%= code %>, <%= name %>, <%= credits %> hp</div>
    </div>
</script>-->




<script type="text/template" id="detailTemplate">
    <div class="span4" class="details ">
        <div>Valda poäng: <%= totalCredit %> hp</div>
        <div>Avancerade poäng: <%= advancedCredit %> hp</div>
        <div><%= specCredits %></div>
        <div><%= studyPeriodCredits %> </div>
    </div>
</script>

<script type="text/template" id="filterTemplate">
    <%= specializations %>
</script>


</html>
