<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>LTH course picker</title>
    <link rel="stylesheet" href="lib/bootstrap.min.css">
</head>

<body>
    
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">LTH Course picker</a>
        </div>
      </div>
    </nav>

	<div class="jumbotron">
      <div class="container">
        <h1>LTH course picker</h1>
        <p>lorem ipsum dipsum lorem ipsum dipsumlorem ipsum dipsumlorem ipsum dipsumlorem ipsum dipsumlorem ipsum dipsumlorem ipsum dipsumlorem ipsum dipsumlorem ipsum dipsumlorem ipsum dipsumlorem ipsum dipsum.</p>
      </div>
    </div>

    <div class="container">
    	
    	
	    	<div class="filter"></div>
      

        <h1>Courses</h1>
        <hr />
        <div class="page col-md-6"></div>
        <div class="page2 col-md-6">

        	<div class="row"><h4>Study Peroid 1</h4><hr /></div>
        	<div class="row"><h4>Study Peroid 2</h4><hr /></div>
        	<div class="row"><h4>Study Peroid 3</h4><hr /></div>
        	<div class="row"><h4>Study Peroid 4</h4><hr /></div>
        	<div class="row"><h4>Study Peroid 5</h4><hr /></div>
        	<div class="row"><h4>Study Peroid 6</h4><hr /></div>
        


        <div class="page3 col-md-6"></div>
    </div>


    <script src="lib/jquery.min.js" type="text/javascript"></script>
    <script src="lib/underscore-min.js" type="text/javascript"></script>
    <script src="lib/backbone-min.js" type="text/javascript"></script>
    <script src="lib/bootstrap.min.js" type="text/javascript"></script>
    <script src="lib/backbone.localStorage-min.js" type="text/javascript"></script>
    <script src="courses.json" type="text/javascript"></script>


    <script type="text/template" id="sp_filter">
		
		<ul class="nav nav-justified">
	    	<h3>Filter study periods: </h3>
	    	<li><a data-id= "1" href="#1">Study Period 1</a></li>
	    	<li><a data-id= "2" href="#2">Study Period 2</a></li>
	    	<li><a data-id= "3" href="#3">Study Period 3</a></li>
	    	<li><a data-id= "4" href="#4">Study Period 4</a></li>
	    	<!--<li><a data-id= "5" href="#5">Study Period 5</a></li>
	    	<li><a data-id= "6" href="#6">Study Period 6</a></li>-->
			
		</ul>
	</script>

    <script type="text/template" id="home_template">
		
		<table>
		    <thead>
		        <tr>
		            <th>Code</th>
		            <th>Name</th>
		            <th>Credits</th>
		            <th> </th>
		        </tr>
		    </thead>
		    <tbody>
		         <%  
		        _.each(data,function(item){
		        %>
		            <tr>
		                <!-- use variables -->
		                <td>
		                    <%= item.code %>
		                </td>
		                <td>
		                    <%= item.name %>
		                </td>
		                <td>
		                    <%= item.credits %>
		                </td>
		                <td>
		                    <a href="#" class="btn" data-id=<%= item.id%>> Add</a>
		                </td>
		            </tr>
		            <% }); %>
		    </tbody>
		</table>

    </script>

    
    
    <script type="text/template" id="side_template">
		
		<table>
		    <thead>
		        <tr>
		            <th>Code</th>
		            <th>Name</th>
		            <th>Credits</th>
		            <th> </th>
		        </tr>
		    </thead>
		    <tbody>
		         <% 
		        _.each(data,function(item){
		        %>
		            <tr>
		                <!-- use variables -->
		                <td>
		                    <%= item.code %>
		                </td>
		                <td>
		                    <%= item.name %>
		                </td>
		                <td>
		                    <%= item.credits %>
		                </td>
		                <td>
		                    <a href="#" class="btn" data-id=<%= item.id%>> Remove</a>
		                </td>
		            </tr>
		            <% }); %>
		    </tbody>
		</table>

    </script>


    <!-- Not in use atm... -->
    <script type="text/template" id="filter_template">
        <%= filter %>
    </script>




    <script type="text/template" id="test_test">
        <%= test %>
    </script>

    <script>

    	
    	/*	*******************************************************************	*/
    	/* Objects and Collections */
        
        var Course = Backbone.Model.extend({
            initialize: function () {
                //console.log("Hej hopp");
            },
        });

        var CourseList = Backbone.Collection.extend({

            model: Course,
            localStorage: new Backbone.LocalStorage("SomeCollection"),

			show_specialization: function(spec) {
      			return this.where( {specialization: spec} );
    		},

    		show_study_period: function(sp) {
    			filtered = this.filter(function(c) {
    				var sp_list = c.attributes.study_periods;
    				return _.find(sp_list, function(e){ return e == sp }) != null;
    				
    			});
    			return new CourseList(filtered);
    		},
	    	


        });
        /*	*******************************************************************	*/


        var courses = new CourseList();
        var coursesAdded = new CourseList();
        courses.add(ourData);


        /*	*******************************************************************	*/
        /* Views */

        var TestView = Backbone.View.extend({
            el: '.page',
            render: function () {
                var template = _.template($('#test_test').html());
                this.$el.html(template({
                    test: "Test"
                }));
            },
        });
		
        var HomeView = Backbone.View.extend({
            el: '.page',
            events: {
                "click a": "clicked"
            },

            initialize: function(options){
    			
  			},

            dataSource: courses,
            temp: '#home_template',
            render: function () {

                console.log("render");
                var template = _.template($(this.temp).html());
                this.$el.html(template({
                    data: this.dataSource.toJSON(),

                }));
            },
            clicked: function (e) {
                e.preventDefault();
                var id = $(e.currentTarget).data("id");
                var item = courses.get(id);
                coursesAdded.fetch();
                coursesAdded.add([item.clone()]);
                item.save();
                sideView.render();
                
            },

            filter_sp: function(sp) {
  				
  				this.dataSource = courses;
  				this.dataSource = this.dataSource.show_study_period(sp);//constant for now... 
  				this.render();
},
        });

        var SpFilterView = Backbone.View.extend({
        	el: '.filter',
        	template: 'sp_filter',
        	events: {
        		'click a': 'clicked'
        	},
        	dataSource: courses,
        	
        	render: function () {
        		var template = _.template($('#sp_filter').html());
        		this.$el.html(template({}));
                console.log("render spfilter");
        	},
        	
        	clicked: function (e) {
        		e.preventDefault();
        		console.log('click on sp ' + $(e.currentTarget).data("id"));
        		
        		//filter_courses = courses.show_study_period($(e.currentTarget).data("id"));
        		//courses = filter_courses;
        		homeView.filter_sp($(e.currentTarget).data("id"));
        		
        	},



        })

        var SideView = HomeView.extend({
            temp: '#side_template',
            el: '.page2',
            dataSource: coursesAdded,
            clicked: function(e){
                e.preventDefault();
                var id = $(e.currentTarget).data("id");
                var item = coursesAdded.get(id);
                coursesAdded.fetch();
                item.destroy();
                sideView.render();
            }

        });

		
        /*	*******************************************************************	*/
        

		/*	*******************************************************************	*/
		/* The application */

		var testView = new TestView();
        var homeView = new HomeView();
        var sideView = new SideView();
        var spFilterView = new SpFilterView();

        /*	*******************************************************************	*/
    	/* The router */

    	var Router = Backbone.Router.extend({
            routes: {
                "test": "test",
                "": "home"
            }
        });
        
        var router = new Router;
        
        router.on('route:test', function () {
            testView.render();
        })
         router.on('route:home', function () {
            homeView.render();
            coursesAdded.fetch();
            sideView.render();
            spFilterView.render();
            //testView.render();
        })
        
        Backbone.history.start();
        /*	*******************************************************************	*/

    </script>


</body>

</html>