
<!doctype html>
<html lang="en">
<!-- TO DO: 
* Exjobb renderas inte längre, varför? CourseListView renderar bara en kurs om den är i en LP, det är inte exjobb. 
* Därför är denna punkten löst: Om kurs är on_hold ska den inte listas. 
(detta ovan måste vi dock lösa på ngt snyggt sätt i framtiden)


* Lägga till så att man kan skapa olika år (år4: [lp1,lp2,lp3,lp4], år5: [lp1,lp2,lp3,lp4])
* Fixa templates i separata filer. Varför funkar det inte? 
* göra en vacker design ;) 

-->

<head>
    <meta charset="utf-8">
    <title>LTH:s kursväljare</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">LTH:s kursväljare</a>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span5">
                <h2>Kurser</h2>
                <h3>Filtrera</h3>
                <h4>Läsår: 4 5</h4>
                <h4>Läsperiod</h4>
                <h5 id="filterStudyPeriod"><!--TEMPLATE--></h5>
                <h4>Inriktningar</h4>
                <h5 id="filterDetails"><!--TEMPLATE--></h5>
                <ul id="courseList"><!--TEMPLATE--></ul>
            </div>

            <div class="span5">
                <h2>Kursplan</h2>
                <h3>Detaljer</h3>
                <ul id="timeTableDetails"><!--TEMPLATE--></ul>
                <h3>Valda kurser</h3>
                <h4>Läsperiod 1</h4>
                <ul class="table" id="timeTableSp1"><!--TEMPLATE--></ul>
                <h4>Läsperiod 2</h4>
                <ul class="table" id="timeTableSp2"><!--TEMPLATE--></ul>
                <h4>Läsperiod 3</h4>
                <ul class="table" id="timeTableSp3"><!--TEMPLATE--></ul>
                <h4>Läsperiod 4</h4>
                <ul class="table" id="timeTableSp4"><!--TEMPLATE--></ul>
            </div>
            
            
        </div>
    </div>


</body>

<script src="js/lib/require.js" data-main="js/config.js"></script>


<!-- TEMPLATES -->
<script type="text/template" id="StudyPeriodViewTemplate">
    <div class="span4" class="courseItem ">
        <div><%= kurskod %>, <%= kursnamn %>, <%= poang %> hp</div>
    </div>
</script>

<script type="text/template" id="FilterTemplate">
    <%= specializations %>
</script>

<script type="text/template" id="FilterSPItemTemplate">
    <div class="span4" class="filterSpecItem">
        <%= studyPeriod %>
    </div>
</script>


<script type="text/template" id="FilterSpecItemTemplate">
    <div class="span4" class="filterSpecItem">
        <%= specFullName %>
    </div>
</script>

<script type="text/template" id="DetailTemplate">
    <div class="span4" class="details ">
        <div>Valda poäng: <%= totalCredit %> hp</div>
        <div>Avancerade poäng: <%= advancedCredit %> hp</div>
        <div><%= specCredits %></div>
        <div><%= studyPeriodCredits %> </div>
    </div>
</script>


<script type="text/template" id="CourseItemTemplate">
    <div class="span4" class="courseItem ">
        <div><%= kurskod %>, <%= kursnamn %>, <%= poang %> hp</div>
    </div>
</script>


</html>
