<table cellspacing='0' cellpadding='0' border='1'>
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Credits</th>
        </tr>
    </thead>
    <tbody>
         <% 
        _.each(data,function(item){
        %>
            <tr>
                <!-- use variables -->
                <td>
                    <%= item.id %>
                </td>
                <td>
                    <%= item.name %>
                </td>
                <td>
                    <%= item.credits %>
                </td>
            </tr>
            <% }); %>
    </tbody>
</table>